<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>
<p>welcome <%= @user.name %></p>

<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>


<!-- The code below is populating all user products in the web page. -->
<!-- The code bellow worked successfully, hope that it works well for you as well. -->
<!-- Lots of love and good luck! -->
<!-- Danny <3 -->

<div>
<!-- @products equals to an array of all products that were made by the user-->
<!-- product is an singular record that we extract data from. -->
    <% @products.each do |product| %>
    
        <%= cl_image_tag(product.image.key)%>
        <%= product.name%>
        <%= link_to 'Edit', edit_product_path(product) %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
      
    <% end %>
</div>