<p id="notice"><%= notice %></p>

<p>
    <strong>Name:</strong>
    <%= @product.name %>
</p>

<p>
    <%= image_tag @product.image%>
</p>

<%# copy pasted from views/_forms %>


<%= form_tag charges_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <%# changed amount to price (line 13) - makes more sense %>
    <label class="amount">
      <span>Price: $</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="500"
          data-locale="auto"></script>
<% end %>
